
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap" rel="stylesheet">
<body>
    <app-navbar></app-navbar>
    <div class="downnavbar">
        <div class="multisearchbar">
            <div class="sbpart1">
                <p class="where">Where</p>
                <input type="text" placeholder="Destination" [(ngModel)]="destination" (input)="onChange()">
                <ul class="suggestions" *ngIf="suggestions.length > 0">
                    <li *ngFor="let suggestion of suggestions" (click)="selectSuggestion(suggestion)">{{ suggestion }}</li>
                </ul>
            </div>
            <div class="sbpart2">
                <p class="checkin">Check in</p>
                <input type="date" placeholder="Check-in" [(ngModel)]="checkInDate">
            </div>
            <div class="sbpart3">
                <p class="checkout">Check Out</p>
                <input type="date" placeholder="Check-out" [(ngModel)]="checkOutDate">
            </div>
            <div class="sbpart4">
                <p class="who">Who</p>
                <input type="number" placeholder="Number of guests" [(ngModel)]="numberOfGuests">
            </div>
            <div class="sbpart5">
                <div class="search-button" (click)="search()">
                    <svg class="searchicon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" aria-hidden="true" role="presentation" focusable="false" style="display: block; fill:none ; height: 16px; width: 16px; stroke:white ; stroke-width: 4; overflow: visible;"><path fill="none" d="M13 24a11 11 0 1 0 0-22 11 11 0 0 0 0 22zm8-3 9 9"></path></svg>
                </div>
            </div>
        </div>
    </div>
<div class="content-container" style="cursor: pointer;">
    <div class="content-window"*ngFor="let item of accommodations"(click)="openAccommodation(item.id)" style="cursor: pointer;">
        <img [src]="
            item.photos[0] ">
        <div class="content-title">{{item.propertyName}}</div>
        <div class="content-host">{{item.address}}</div>
        <div class="content-date">Available from {{ item.availableFrom | date: 'yyyy-MM-dd' }}</div>
        <div class="content-date">Available to {{ item.availableTo | date: 'yyyy-MM-dd' }}</div>
    </div>
    <div class="app-pagination-container">
        <app-pagination (pageChange)="onPageChange($event)"></app-pagination>
    </div>
</div>

