<div class="app-container">
    <section class="navigation">
      <a href="#" class="app-link">Travelers</a>
      <div class="navigation-links">
        <a href="#" class="nav-link ">Destinations</a>
        <a href="#" class="nav-link active">Hotels</a>
        <a href="#" class="nav-link">Camping</a>
        <a href="#" class="nav-link">Car Rent</a>
      </div>
      <div class="nav-right-side">
        <button class="mode-switch">
         <svg class="sun" fill="none" stroke="#fbb046" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="feather feather-sun" viewBox="0 0 24 24"><defs/><circle cx="12" cy="12" r="5"/><path d="M12 1v2M12 21v2M4.22 4.22l1.42 1.42M18.36 18.36l1.42 1.42M1 12h2M21 12h2M4.22 19.78l1.42-1.42M18.36 5.64l1.42-1.42"/></svg>
    <svg class="moon" fill="none" stroke="#ffffff" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="feather feather-moon" viewBox="0 0 24 24"><defs/><path d="M21 12.79A9 9 0 1111.21 3 7 7 0 0021 12.79z"/></svg>
       </button>
        <button class="profile-btn">
        <span>Ryan Evans</span>
        <img src="https://images.unsplash.com/photo-1492633397843-92adffad3d1c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2167&q=80" alt="pp">
      </button>
      </div>  
    </section>
    <section class="app-actions">
      <div class="app-actions-line">
        <div class="search-wrapper">
          <button class="loaction-btn">
            <svg class="btn-icon" xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-map-pin" viewBox="0 0 24 24">
              <path d="M21 10c0 7-9 13-9 13s-9-6-9-13a9 9 0 0118 0z"/>
              <circle cx="12" cy="10" r="3"/>
            </svg>
          </button>
          <input type="text" class="search-input" value="San Francisco, Stockton Street">
          <button class="search-btn">Find Hotel</button>
        </div>
      </div>
      <div class="app-actions-line filter-line">
        <div class="filter-action-buttons">
          <button class="filter-btn">
          <div class="filter-icon">
            <svg class="btn-icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-calendar"><rect x="3" y="4" width="18" height="18" rx="2" ry="2"/><line x1="16" y1="2" x2="16" y2="6"/><line x1="8" y1="2" x2="8" y2="6"/><line x1="3" y1="10" x2="21" y2="10"/></svg>
          </div>
          <span class="filter-text">Sat,Nov 10-Fri,Nov 22</span>
        </button>
        <button class="filter-btn">
          <div class="filter-icon">
            <svg class="btn-icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-book"><path d="M4 19.5A2.5 2.5 0 0 1 6.5 17H20"/><path d="M6.5 2H20v20H6.5A2.5 2.5 0 0 1 4 19.5v-15A2.5 2.5 0 0 1 6.5 2z"/></svg>
          </div>
          <span class="filter-text">Rooms - 2</span>
        </button>
        <button class="filter-btn">
          <div class="filter-icon">
            <svg class="btn-icon" xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-users" viewBox="0 0 24 24">
              <path d="M17 21v-2a4 4 0 00-4-4H5a4 4 0 00-4 4v2"/>
              <circle cx="9" cy="7" r="4"/>
              <path d="M23 21v-2a4 4 0 00-3-3.87M16 3.13a4 4 0 010 7.75"/>
            </svg>
          </div>
          <span class="filter-text">Adults - 2</span>
        </button>
        <button class="filter-btn">
          <div class="filter-icon">
              <svg class="btn-icon" xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-users" viewBox="0 0 24 24">
              <path d="M17 21v-2a4 4 0 00-4-4H5a4 4 0 00-4 4v2"/>
              <circle cx="9" cy="7" r="4"/>
              <path d="M23 21v-2a4 4 0 00-3-3.87M16 3.13a4 4 0 010 7.75"/>
            </svg>
          </div>
          <span class="filter-text">Child - 1</span>
        </button>
        <button class="filter-btn more">
          <div class="filter-icon">
            <svg class="btn-icon" xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-sliders" viewBox="0 0 24 24">
              <path d="M4 21v-7M4 10V3M12 21v-9M12 8V3M20 21v-5M20 12V3M1 14h6M9 8h6M17 16h6"/>
            </svg>
          </div>
          <span class="filter-text">More</span>
        </button>
        </div>
      </div>
    </section>
    <section class="app-main">
      <div class="app-main-left cards-area">
        <div *ngFor="let accommodation of accommodationList" class="card-wrapper main-card" >
          <a class="card cardItemjs">
            <div class="card-image-wrapper">
            <img [src]="
            'data:image/jpeg;charset=utf-8;base64,' + accommodation.photos[0] ">
          </div>
            <div class="card-info">
              <div class="card-text big cardText-js">{{accommodation.propertyName}}</div>
              <div class="card-text small">{{accommodation.address}}</div>
              <div class="card-text small">
                Price per night: 
                <span class="card-price"> {{accommodation.pricePerNight}}</span>
              </div>
            </div>
            </a>
        </div>
          <app-pagination></app-pagination>
      </div>
      <div class="app-main-right cards-area">
        <div class="app-main-right-header">
          <span>Latest Deals</span>
          <a href="#">See More</a>
        </div>
        <div class="card-wrapper main-card">
          <a class="card cardItemjs"  onclick="openModal()">
            <div class="card-image-wrapper">
            <img src="https://source.unsplash.com/featured/1200x900/?hotel-room,interior">
          </div>
            <div class="card-info">
              <div class="card-text big cardText-js">Hotel Conrad</div>
              <div class="card-text small">Stockton Street</div>
              <div class="card-text small">
                Starts from: 
                <span  class="card-price"> $1000</span>
              </div>
            </div>
          </a>
        </div>
        <div class="card-wrapper main-card">
          <a class="card cardItemjs"  onclick="openModal()">
            <div class="card-image-wrapper">
            <img src="https://source.unsplash.com/featured/1200x900/?interior,hotel">
          </div>
            <div class="card-info">
              <div class="card-text big cardText-js">The Hotel Riviera</div>
              <div class="card-text small">Stockton Street</div>
              <div class="card-text small">
                Starts from: 
                <span  class="card-price"> $300</span>
              </div>
            </div>
          </a>
        </div>
        <div class="card-wrapper main-card">
          <a class="card cardItemjs"  onclick="openModal()">
            <div class="card-image-wrapper">
            <img src="https://source.unsplash.com/featured/1200x900/?architecture,modern">
          </div>
            <div class="card-info">
              <div class="card-text big cardText-js">The Hotel Star Pasific</div>
              <div class="card-text small">Stockton Street</div>
              <div class="card-text small">
                Starts from: 
                <span class="card-price"> $1400</span>
              </div>
            </div>
            </a>
        </div>
         <div class="card-wrapper main-card">
          <a class="card cardItemjs"  onclick="openModal()">
            <div class="card-image-wrapper">
            <img src="https://source.unsplash.com/featured/1200x900/?hotel,modern">
          </div>
            <div class="card-info">
              <div class="card-text big cardText-js">Hotel Instant Destiny </div>
              <div class="card-text small">Stockton Street</div>
              <div class="card-text small">
                Starts from: 
                <span class="card-price"> $1800</span>
              </div>
            </div>
            </a>
        </div>
        <div class="card-wrapper main-card">
          <a class="card cardItemjs"  onclick="openModal()">
            <div class="card-image-wrapper">
            <img src="https://source.unsplash.com/featured/1200x900/?architecture,modern" alt="Hotel">
          </div>
            <div class="card-info">
              <div class="card-text big cardText-js">The White Roses Hotel</div>
              <div class="card-text small">Stockton Street</div>
              <div class="card-text small">
                Starts from: 
                <span class="card-price"> $700</span>
              </div>
            </div>
            </a>
        </div>
         <div class="card-wrapper main-card">
          <a class="card cardItemjs"  onclick="openModal()">
            <div class="card-image-wrapper">
            <img src="https://source.unsplash.com/featured/1200x900/?hotel,modern" alt="Hotel">
          </div>
            <div class="card-info">
              <div class="card-text big cardText-js">Hotel Tom's Dinner</div>
              <div class="card-text small">Stockton Street</div>
              <div class="card-text small">
                Starts from: 
                <span class="card-price"> $1500</span>
              </div>
            </div>
            </a>
        </div>
      </div>
    
    </section>
        
  </div>
  <div id="modal-window" class="shadow">
    <div class="main-modal">
      <div class="modal-left">
        <div class="info-bar">
          <div class="info-wrapper">
            <div class="info-icon">    
                    
    </div>
   