<app-navbar></app-navbar>
<body>
	<div class=container>
		<section class=left>
			<p> 23</p>
			<p> feb</p>
		</section>
		
		<section class=right>
			<p> dj music event</p>
			<h2> live in sydney</h2>
			<p class=calendar> wendesday 28 december 2014 08:55pm to 12:00 am </p> <!-- can be used date  and br can be removed-->
			<p class=map-pin> nexen square for people Australia,sedney</p>
			<a href=#> tickets</a>
		</section>
		
	</div>
	<div class=container>
		<section class=left>
			<p> 23</p>
			<p> feb</p>
		</section>
		
		<section class=right>
			<p> live performance</p>
			<h2> corner obsest program</h2>
			<p class=calendar> wendesday 28 december 2014 08:55pm to 12:00 am </p> <!-- can be used date  and br can be removed-->
			<p class=map-pin> nexen square for people Australia,sedney</p>
			<a href=#> tickets</a>
		</section>
		
	</div>
	<div class=container>
		<section class=left>
			<p> 23</p>
			<p> feb</p>
		</section>
		
		<section class=right>
			<p> dj music event</p>
			<h2> music kaboom festival</h2>
			<p class=calendar> wendesday 28 december 2014 08:55pm to 12:00 am </p> <!-- can be used date  and br can be removed-->
			<p class=map-pin> nexen square for people Australia,sedney</p>
			<a href=#> booked</a>
		</section>
		
	</div>
	<div class=container>
		<section class=left>
			<p> 23</p>
			<p> feb</p>
		</section>
		
		<section class=right>
			<p> dj music event</p>
			<h2> hello dubai festival</h2>
			<p class=calendar> wendesday 28 december 2014 08:55pm to 12:00 am </p> <!-- can be used date  and br can be removed-->
			<p class=map-pin> nexen square for people Australia,sedney</p>
			<a href=#> cancel</a>
		</section>
		

